<form (submit)="guardarCambios()" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Título</mat-label>
    <input matInput [formControl]="form.controls.titulo" />
    <mat-error>{{ obtenerErrorTitulo() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Fecha lanzamiento</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [formControl]="form.controls.fechaLanzamiento"
    />
    <mat-datepicker #picker></mat-datepicker>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-error>{{ obtenerErrorFechaLanzamiento() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Trailer</mat-label>
    <input matInput [formControl]="form.controls.trailer" />
  </mat-form-field>

  <app-input-img
    title="Poster"
    [urlImagenActual]="modelo?.poster"
    (archivoSeleccionado)="archivoSeleccionado($event)"
  ></app-input-img>

  <h4>Seleccione los generos:</h4>
  <app-selector-multiple
    [NoSeleccionados]="generosNoSeleccionados"
    [Seleccionados]="generosSeleccionados"
  ></app-selector-multiple>

  <h4>Seleccione los cines:</h4>
  <app-selector-multiple
    [NoSeleccionados]="cinesNoSeleccionados"
    [Seleccionados]="cinesSeleccionados"
  ></app-selector-multiple>

  <h4>Seleccione los actores</h4>
  <app-autocomplete-actores [actoresSeleccionados]="actoresSeleccionados"></app-autocomplete-actores>

  <div class="button-form-container">
    <button mat-flat-button [disabled]="form.invalid" type="submit">
      Guardar
    </button>
    <button mat-flat-button class="secondary" routerLink="">Cancelar</button>
  </div>
</form>
