<h2>{{ title }}</h2>

@if(entidades.length > 0){
<ng-container contenido>
  <table
    mat-table
    [dataSource]="entidades"
    class="mat-elevation-z8 indice-elementos"
  >
    @for(columna of columnasAMostrar; track $index){ 
        @if(columna === 'acciones'){
            <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Genero</th>
            <td mat-cell *matCellDef="let entidad">
                <a routerLink="{{ rutaEditar }}/{{ entidad.id }}" mat-flat-button
                >Editar</a
                >
                <button
                mat-flat-button
                class="secondary"
                [swal]="{
                    title: 'Confirmacion',
                    text: '¿Deseas borrar este registro?',
                    showCancelButton: true
                }"
                (confirm)="borrar(entidad.id)"
                >
                Eliminar
                </button>
            </td>
            </ng-container>
        }@else{
            <ng-container matColumnDef="{{columna}}">
                <th mat-header-cell *matHeaderCellDef>{{columna}}</th>
                <td mat-cell *matCellDef="let entidad">
                    {{ entidad[columna] }}
                </td>
            </ng-container>
        }
    }

    <tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasAMostrar"></tr>
  </table>

  <mat-paginator
    class="mat-elevation-z8"
    showFirstLastButtons="true"
    [pageIndex]="paginacion.pagina - 1"
    [length]="totalRegistros"
    [pageSize]="paginacion.recordsPorPagina"
    (page)="actualizarPaginacion($event)"
  ></mat-paginator>
</ng-container>
}@else{
<app-loading-gif></app-loading-gif>
}

<button mat-flat-button routerLink="{{ rutaCrear }}">
  Crear {{ title }}
</button>
