<app-listado-generico [listado]="peliculas">
  <div NoContent>
    <p style="color: red">No hay peliculas disponibles.</p>
  </div>

  <ng-container Peliculas>
    <div class="peliculas-container">
      @for (pelicula of peliculas; track $index) {
      <div class="pelicula-container">
        <a>
          @if(pelicula.poster == ''){
          <img src="default_poster.jpg" width="169" height="250" />
          }@else {
          <img
            [ngSrc]="pelicula.poster"
            [priority]="$index == 0"
            width="169"
            height="250"
          />
          }
        </a>

        <p>
          <a>{{ pelicula.titulo }}</a>
        </p>

        <div>
          <a
            mat-button
            class="primary"
            [routerLink]="['/peliculas/editar/', pelicula.id]"
            >Editar</a
          >
          <button
            mat-button
            type="button"
            class="secondary"
            [swal]="{
              title: 'Confirmacion',
              text: '¿Deseas borrar este registro?',
              showCancelButton: true
            }"
            (confirm)="borrar(pelicula.id)"
          >
            Borrar
          </button>
        </div>
      </div>
      }
    </div>
  </ng-container>
</app-listado-generico>
