<h2>Actores</h2>

@if(actores){
<ng-container>
  <table
    mat-table
    [dataSource]="actores"
    class="mat-elevation-z8 indice-elementos"
  >
    <ng-container matColumnDef="foto">
      <th mat-header-cell *matHeaderCellDef>Foto</th>
      <td mat-cell *matCellDef="let actor">
        {{ actor.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let actor">
        {{ actor.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let actor">
        {{ actor.nombre }}
      </td>
    </ng-container>

    <ng-container matColumnDef="fechaNacimiento">
      <th mat-header-cell *matHeaderCellDef>Fecha Nacimiento</th>
      <td mat-cell *matCellDef="let actor">
        {{ actor.fechaNacimiento }}
      </td>
    </ng-container>

    <ng-container matColumnDef="accion">
      <th mat-header-cell *matHeaderCellDef>Accion</th>
      <td mat-cell *matCellDef="let actor">
        <a routerLink="/actores/editar/{{ actor.id }}" mat-flat-button
          >Editar</a
        >
        <button
          mat-flat-button
          class="secondary"
          [swal]="{
            title: 'Confirmacion',
            text: '¿Deseas borrar este registro?',
            showCancelButton: true
          }"
          (confirm)="borrar(actor.id)"
        >
          Eliminar
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas"></tr>
  </table>

  <mat-paginator
    class="mat-elevation-z8"
    showFirstLastButtons="true"
    [pageIndex]="paginacion.pagina - 1"
    [length]="cantidadTotalRegistros"
    [pageSize]="paginacion.recordsPorPagina"
    (page)="actualizarPaginacion($event)"
  ></mat-paginator>
</ng-container>
}

<button mat-flat-button routerLink="/actores/crear">Crear Actor</button>
