<h2>Crear Pelicula</h2>

@if(cinesNoSeleccionados){
    <app-mostrar-errores [errores]="errores"></app-mostrar-errores>
    <app-formulario-peliculas
    (posteoFormulario)="guardarCambios($event)"
    [generosNoSeleccionados]="generosNoSeleccionados"
    [generosSeleccionados]="generosSeleccionados"
    [cinesNoSeleccionados]="cinesNoSeleccionados"
    [cinesSeleccionados]="cinesSeleccionados"
    [actoresSeleccionados]="actoresSeleccionados"
    ></app-formulario-peliculas>
}@else {
    <app-loading-gif></app-loading-gif>
}
